// src/pages/Home.module.scss

.home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
 
  .main {
    flex-grow: 1;
    padding: 2rem;
    @media (max-width: 768px) {
      padding: 0.5rem;
    }
  }
  
  .footer {
    background-color: #f0f0f0;
    padding: 1rem;
    text-align: center;
    @media (max-width: 768px) {
      padding: 0.5rem;
    }
  }