.header {
    background-color: white; // Harvard crimson
    color: a51c30;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    h1 {
      margin: 0;
      
      font-size: 1.5rem;
    }
  
     nav {
      margin-left: auto 

    }
    .imageContainer {
      width: 100%;
      max-width: 250px; /* Adjust based on your preference for large screens */
      min-width: 100px;
      margin-right: 2rem;
    }
    
    /* Media query for screens smaller than 600px */
    @media (max-width: 600px) {
      .imageContainer {
        max-width: 300px; /* Adjust based on your preference for small screens */
      }
    }
    nav {

      ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        gap: 1rem;
  
        li a {
          color: #a51c30;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      @media (max-width: 768px) {
        text-overflow: clip;
      }
    }
  }
  
  .userInfo {
    display: flex;
    margin-left: 2rem;
    align-items: center;
    gap: 1rem;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  
  .logoutButton {
    background-color: #a51c30;
    color: white;
    font-family: 'Petrona', sans-serif; 
        border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    &:hover {
      background-color: #f0f0f0;
    }
  }
  